<div class="document">
  <h2 class="document__name">{{ .name }}</h2>
  <img class="document__image" src="{{ .image }}" alt="">
  <p class="document__description">{{ .description }}</p>
  <div class="document__button-container">
    <div class="document__size">${{ .size }}</div>
    <button
      class="snipcart-add-item buy-button"
      data-item-id="{{ .id }}"
      data-item-name="{{ .name }}"
      data-item-price="{{ .size }}"
      data-item-url="{{ .product_url }}"
      data-item-description="{{ .description }}">
      Ladda ned dokument
    </button>
  </div>
</div>
