<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/test_logo.png" alt="Kaldi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Prenumerera på vårt nyhetsbrev</p>
			<p>Registrera dig för vårt nyhetsbrev så är du säker på att alltid vara uppdaterad på vad som händer i föreningen.</p>

			{{ partial "newsletter-form-sendinblue" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Bryggudden</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Hem</a></li>
					<li><a href="/products" class="link">Nyheter</a></li>
					<li><a href="/values" class="link">Om vår förening</a></li>
					<li><a href="/post" class="link">Styrelsens blogg</a></li>
					<li><a href="/contact" class="link">Kontakta styrelsen</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Mer information</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Senaste nytt</a></li>
					<li><a href="/contact" class="link">Kontakta styrelsen</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
