<div class="ph2">

	<!-- Title -->
	<h3 class="b f5 grey-3 tc lh-title mb3">{{.document_title}}</h3>

	<!-- Date -->
	<p class="primary f1 b tc lh-title center">
		<span class="f4">Datum </span>{{.document_date}}
	</p>

	<!-- Description -->
	<p class="b">{{.document_description}}</p>

	<!-- Features -->
	<ul>
		{{ $itemCount := len .items }}
		{{ range $index, $item := .items }}
		<li>
			<p class="{{ if ne (add 1 $index) $itemCount }}pb2 mb2 divider-grey{{ end }}">{{ $item }}</p>
		</li>
		{{ end }}
	</ul>

</div>
