{{ define "main" }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="{{ .Params.bild }}" alt="" class="db w4 center pv4">
		<p>Föreningens namn: {{ .Params.fnamn }}</p>
		<p>Organisationsnummer: {{ .Params.orgnummer }}</p>

		{{ .Content }}

		<!-- <div class="flex-ns mb3"> -->
	        	{{ range .Params.styrelsemedlemmar }}
				<!-- <div> -->
					<h4 class="f4 b lh-title mb2 primary">{{ .funktion }}</h4>
					<img src="{{ .personbild }}" alt="" class="db w4 center pv4">
					{{ .namn }}<br/>
					Lägenhet: {{ .lagenhet }}<br/>
					Mobilnummer: {{ .mobil }}<br/>
					E-post: {{ .epost }}</br>
				<!-- </div> -->
			{{ end }}
		<!-- </div> -->

		{{ partial "contact-form" . }}

	</div>
</div>

{{ end }}
